.procedure-card:nth-child(even){
    background-color: rgb(209, 209, 209);
}
.procedure-card{
    padding: 1em;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}
.procedure-card>div{
display: flex;
}
.procedure-card .performed-period{
    width: 100%;
    display: flex;
}
.procedure-card .field-label{
    margin-right: 1em;
    min-width: 10ch;
    font-weight: 500;
}
.procedure-card .code-text{
    width: 100%;
}